In [1]:
import pandas as pd 
import numpy as np

In [2]:
#importamos los datasets previamente transformados
#Primero ponemos la ruta
ruta_games = r"C:\Users\Cristian\Desktop\DATA SCIENCE\HENRY\PI1\PI MLOps - STEAM\Datos Estructurados\games.parquet"
ruta_items = r"C:\Users\Cristian\Desktop\DATA SCIENCE\HENRY\PI1\PI MLOps - STEAM\Datos Estructurados\users_items.parquet"
ruta_reviews = r"C:\Users\Cristian\Desktop\DATA SCIENCE\HENRY\PI1\PI MLOps - STEAM\Datos Estructurados\df_review_final.parquet"
#luego los extraemos
games = pd.read_parquet(ruta_games)
#items = pd.read_parquet(ruta_items)
reviews = pd.read_parquet(ruta_reviews)

In [3]:
#Funcion 1: developer()
#def developer( desarrollador : str ): Cantidad de items y porcentaje de contenido Free por año según empresa desarrolladora. Ejemplo de retorno:
funcion_1 = games.copy()
funcion_1.drop(columns=["Publisher", "Genres"], inplace = True) #Eliminamos columnas que no sirven

funcion_1.head(5)

                  App_Name      Id            Developer  Price Release_Date
0      Lost Summoner Kitty  761140            Kotoshiro   4.99   2018-01-04
1                Ironbound  643980     Secret Level SRL   0.00   2018-01-04
2  Real Pool 3D - Poolians  670290         Poolians.com   0.00   2017-07-24
3                  弹炸人2222  767400                 彼岸领域   0.99   2017-12-07
5    Battle Royale Trainer  772540  Trickjump Games Ltd   3.99   2018-01-04

In [4]:
#Ahora procedemos a crear la columna Year
funcion_1['Release_Date'] = pd.to_datetime(funcion_1['Release_Date'], errors='coerce')
funcion_1["Year"] = funcion_1['Release_Date'].dt.year
funcion_1.drop(columns=["Release_Date"], inplace = True)
funcion_1.head(4)

                  App_Name      Id         Developer  Price    Year
0      Lost Summoner Kitty  761140         Kotoshiro   4.99  2018.0
1                Ironbound  643980  Secret Level SRL   0.00  2018.0
2  Real Pool 3D - Poolians  670290      Poolians.com   0.00  2017.0
3                  弹炸人2222  767400              彼岸领域   0.99  2017.0

In [5]:
funcion_1["Developer"].value_counts()

Developer
Ubisoft - San Francisco                     1259
SmiteWorks USA, LLC                          813
Dovetail Games                               253
KOEI TECMO GAMES CO., LTD.                   232
Paradox Development Studio                   156
                                            ...
Salus Games                                    1
Class of  2016-2017                            1
Pirotexnik                                     1
ElVery333,Raquel Covelo Suarez,ATopeCode       1
Bidoniera Games                                1
Name: count, Length: 10982, dtype: int64

In [6]:
def developer(desarrollador: str):
    '''
    Esta funcion devuelve la cantidad de items y porcentaje de contenido Free por año según empresa desarrolladora. 
    
    Args : desarrollador (str) Nombre del Desarrollador.

    Returns:
        Dataframe con las siguientes columnas:
            - Año: Contexto de tiempo
            - Cantidad de items: Cantidad de videojuegos
            - Contenido Free: Cantidad de juegos gratuitos
    '''
    # Primero filtrar el DataFrame por el desarrollador
    df_dev = funcion_1[funcion_1['Developer'] == desarrollador]

    # Nos aseguramos que la columna Price sea numerica
    df_dev['Price'] = pd.to_numeric(df_dev['Price'], errors='coerce')

    # Creamos la columna 'Free' donde 1 indica que el juego es gratis
    df_dev['Free'] = df_dev['Price'].apply(lambda x: 1 if x == 0 else 0)

    # Agrupamos por 'Year' para calcular cantidad de juegos y porcentaje de juegos gratuitos
    result = df_dev.groupby('Year').agg(
        Cantidad_Items=('Id', 'count'),
        Contenido_Free=('Free', lambda x: f"{(x.mean() * 100):.0f}%")
    ).reset_index()

    return result

# Testeamos
developer('Paradox Development Studio')

C:\Users\Cristian\AppData\Local\Temp\ipykernel_12180\1276539964.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dev['Price'] = pd.to_numeric(df_dev['Price'], errors='coerce')
C:\Users\Cristian\AppData\Local\Temp\ipykernel_12180\1276539964.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dev['Free'] = df_dev['Price'].apply(lambda x: 1 if x == 0 else 0)

      Year  Cantidad_Items Contenido_Free
0   2006.0               1             0%
1   2007.0               1             0%
2   2008.0               1             0%
3   2009.0               1             0%
4   2010.0               3             0%
5   2011.0               4             0%
6   2012.0              14             0%
7   2013.0              33             0%
8   2014.0              39             0%
9   2015.0              10             0%
10  2016.0              21             5%
11  2017.0              28             7%

In [7]:
funcion_1.head(3)

                  App_Name      Id         Developer  Price    Year
0      Lost Summoner Kitty  761140         Kotoshiro   4.99  2018.0
1                Ironbound  643980  Secret Level SRL   0.00  2018.0
2  Real Pool 3D - Poolians  670290      Poolians.com   0.00  2017.0

In [8]:
#funcion_1.to_parquet("Dataset_funcion_1.parquet", engine = "pyarrow")