In [1]:
import pandas as pd 
import numpy as np

In [2]:
#importamos los datasets previamente transformados
#Primero ponemos la ruta
ruta_games = r"C:\Users\Cristian\Desktop\DATA SCIENCE\HENRY\PI1\PI MLOps - STEAM\Datos Estructurados\games.parquet"
ruta_items = r"C:\Users\Cristian\Desktop\DATA SCIENCE\HENRY\PI1\PI MLOps - STEAM\Datos Estructurados\users_items.parquet"
ruta_reviews = r"C:\Users\Cristian\Desktop\DATA SCIENCE\HENRY\PI1\PI MLOps - STEAM\Datos Estructurados\df_review_final.parquet"
#luego los extraemos
games = pd.read_parquet(ruta_games)
items = pd.read_parquet(ruta_items)
#reviews = pd.read_parquet(ruta_reviews)

In [22]:
#Necesitamos el dataset games pero no todas sus columnas
games_col = games.drop(columns=["Price","Developer", "Publisher"])
#Pasamos esta columna a tipo date time para obtener el año
games_col["Release_Date"] = pd.to_datetime(games_col["Release_Date"], errors = "coerce")
#Eliminamos los nulos
games_col = games_col.dropna(subset=["Release_Date"])
#Obtenemos el año
games_col["Year"] = games_col["Release_Date"].dt.year
#Eliminamos la columna ya que no es necesaria
games_col.drop(columns=["Release_Date"], inplace=True)
games.rename(columns={"Id": "Item_Id"}, inplace = True)
games_col.head(2)

,App_Name,Item_Id,Genres,Year
0,Lost Summoner Kitty,761140,"[Action, Casual, Indie, Simulation, Strategy]",2018
1,Ironbound,643980,"[Free to Play, Indie, RPG, Strategy]",2018

In [24]:
# Examinamos los datasets que necesitamos
items.columns = items.columns.str.title()
#Extraemos las columnas que necesitamos
items_col = items[["User_Id", "Item_Id", "Item_Name", "Playtime_Forever"]]
items_col.head(5)

             User_Id Item_Id                  Item_Name  Playtime_Forever
0  76561197970982479      10             Counter-Strike               6.0
1  76561197970982479      20      Team Fortress Classic               0.0
2  76561197970982479      30              Day Of Defeat               7.0
3  76561197970982479      40         Deathmatch Classic               0.0
4  76561197970982479      50  Half-Life: Opposing Force               0.0

In [26]:
# Vamos a revisar el tipo de dato de estas columnas ya que son las que usaremos para armar un solo dataset
print(items_col["Item_Id"].dtype)
print(games_col["Item_Id"].dtype)

object
int32

In [29]:
# Vamos a crear un nuevo dataset con las columnas necesarias
# Cambiamos tipo de datos para union
items_col["Item_Id"] = items_col["Item_Id"].astype("int32")
# Ahora procedemos a unir los dos datsets
funcion_3 = games_col.merge(items_col, on="Item_Id", how="inner")
funcion_3

C:\Users\Cristian\AppData\Local\Temp\ipykernel_1484\3688150618.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  items_col["Item_Id"] = items_col["Item_Id"].astype("int32")

,App_Name,Item_Id,Genres,Year,User_Id,Item_Name,Playtime_Forever
0,Carmageddon Max Pack,282010,"[Action, Indie, Racing]",1997,UTNerd24,Carmageddon Max Pack,5.0
1,Carmageddon Max Pack,282010,"[Action, Indie, Racing]",1997,I_DID_911_JUST_SAYING,Carmageddon Max Pack,0.0
2,Carmageddon Max Pack,282010,"[Action, Indie, Racing]",1997,76561197962104795,Carmageddon Max Pack,0.0
3,Carmageddon Max Pack,282010,"[Action, Indie, Racing]",1997,r3ap3r78,Carmageddon Max Pack,0.0
4,Carmageddon Max Pack,282010,"[Action, Indie, Racing]",1997,saint556,Carmageddon Max Pack,13.0
...,...,...,...,...,...,...,...
4131570,Counter-Strike: Condition Zero,80,[Action],2004,76561198273508956,Counter-Strike: Condition Zero,0.0
4131571,Counter-Strike: Condition Zero,80,[Action],2004,76561198282090798,Counter-Strike: Condition Zero,0.0
4131572,Counter-Strike: Condition Zero,80,[Action],2004,943525,Counter-Strike: Condition Zero,0.0
4131573,Counter-Strike: Condition Zero,80,[Action],2004,76561198283312749,Counter-Strike: Condition Zero,9.0
4131574,Counter-Strike: Condition Zero,80,[Action],2004,76561198312638244,Counter-Strike: Condition Zero,99.0

In [34]:
# Eliminamos la columna Item_Name ya que tiene los mismos datos que App_Name
funcion_3.drop(columns=["Item_Name"], inplace=True)
funcion_3.head(5)

,App_Name,Item_Id,Genres,Year,User_Id,Playtime_Forever
0,Carmageddon Max Pack,282010,"[Action, Indie, Racing]",1997,UTNerd24,5.0
1,Carmageddon Max Pack,282010,"[Action, Indie, Racing]",1997,I_DID_911_JUST_SAYING,0.0
2,Carmageddon Max Pack,282010,"[Action, Indie, Racing]",1997,76561197962104795,0.0
3,Carmageddon Max Pack,282010,"[Action, Indie, Racing]",1997,r3ap3r78,0.0
4,Carmageddon Max Pack,282010,"[Action, Indie, Racing]",1997,saint556,13.0

In [35]:
# Ahora cambiamos el orden de las columnas para mejorar su visibilidad
funcion_3 = funcion_3[["User_Id", "App_Name", "Item_Id", "Genres", "Playtime_Forever", "Year"]]
funcion_3.head(5)

,User_Id,App_Name,Item_Id,Genres,Playtime_Forever,Year
0,UTNerd24,Carmageddon Max Pack,282010,"[Action, Indie, Racing]",5.0,1997
1,I_DID_911_JUST_SAYING,Carmageddon Max Pack,282010,"[Action, Indie, Racing]",0.0,1997
2,76561197962104795,Carmageddon Max Pack,282010,"[Action, Indie, Racing]",0.0,1997
3,r3ap3r78,Carmageddon Max Pack,282010,"[Action, Indie, Racing]",0.0,1997
4,saint556,Carmageddon Max Pack,282010,"[Action, Indie, Racing]",13.0,1997

In [37]:
# Eliminamos datos nulos
funcion_3.dropna(inplace = True)

In [68]:
# Debido a la gran cantidad de datos solo voy a tener en cuenta desde el año 2014
funcion_3 = funcion_3[funcion_3["Year"] > 2007]
# Vemos el Dataset
funcion_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1380008 entries, 695267 to 3958150
Data columns (total 6 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   User_Id           1380008 non-null  object
 1   App_Name          1380008 non-null  object
 2   Item_Id           1380008 non-null  int32
 3   Genres            1380008 non-null  object
 4   Playtime_Forever  1380008 non-null  float64
 5   Year              1380008 non-null  int32
dtypes: float64(1), int32(2), object(3)
memory usage: 63.2+ MB

In [73]:
#def UserForGenre( genero : str ): Debe devolver el usuario que acumula más horas jugadas para el género dado y una lista de la acumulación de horas jugadas por año de lanzamiento.
#Ejemplo de retorno: {"Usuario con más horas jugadas para Género X" : us213ndjss09sdf, "Horas jugadas":[{Año: 2013, Horas: 203}, {Año: 2012, Horas: 100}, {Año: 2011, Horas: 23}]}
def UserForGenre(genero: str):
    '''
    Esta función devuelve información sobre el usuario con más horas de juego según el género de sus items.

    Args:
        genero (str): Nombre del género.

    Returns:
        dict: Un diccionario que contiene información sobre el usuario con más horas de juego por año y género.
            - 'User Id' (int): Identificador único del usuario.
            - 'Year' (int): Año.
            - 'Playtime_Forever' (float): Número de horas jugadas.
    '''    
    # Explode los géneros en el DataFrame
    df_exploded = funcion_3.explode('Genres')
    
    # Filtramos por el género dado
    genre_filtered = df_exploded[df_exploded['Genres'].apply(lambda x: genero in x)]
    
    if genre_filtered.empty:
        return f"No hay datos para el género {genero}"

    # Agrupamos por User_Id y Year, y acumulamos horas jugadas
    hours_per_year = genre_filtered.groupby(['User_Id', 'Year'])['Playtime_Forever'].sum().reset_index()

    # Sumamos horas totales por usuario
    total_hours = hours_per_year.groupby('User_Id')['Playtime_Forever'].sum().reset_index()

    # Encontramos el usuario con más horas
    top_user = total_hours.loc[total_hours['Playtime_Forever'].idxmax()]

    # Creamos la lista de horas por año
    hours_by_year = hours_per_year[hours_per_year['User_Id'] == top_user['User_Id']].to_dict(orient='records')

    return {
        "Usuario con más horas jugadas para Género": top_user['User_Id'],
        "Horas jugadas": hours_by_year
    }

In [74]:
# Testeamos
print(UserForGenre('Action'))  # Buscamos por el género "Action"

{'Usuario con más horas jugadas para Género': 'REBAS_AS_F-T', 'Horas jugadas': [{'User_Id': 'REBAS_AS_F-T', 'Year': 2014, 'Playtime_Forever': 267280.0}, {'User_Id': 'REBAS_AS_F-T', 'Year': 2015, 'Playtime_Forever': 302997.0}, {'User_Id': 'REBAS_AS_F-T', 'Year': 2016, 'Playtime_Forever': 391863.0}, {'User_Id': 'REBAS_AS_F-T', 'Year': 2017, 'Playtime_Forever': 3716.0}]}

In [67]:
funcion_3.to_parquet("Dataset_funcion_3.parquet", engine = "pyarrow")